@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
     padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.mud-container.mud-container-maxwidth-false.mt-1.fix-to-vport {
    height: calc(100vh - 68px);
    overflow: hidden;
    padding: 0;
}
/*------------------------------------------------------------------------------------------------------------------*/
.item-cat-area {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    background: white;
    position: relative;
    z-index: 1;
}

.options-area {
    width: 100%;
    /*    background: var(--mud-palette-drawer-background);*/
    height: 50px;
}

.border-1px {
    border: 1px solid #DDD;
}

.customer-selection {
    color: white;
    height: 100%;
}

.d-flex.flex-column.strech-width {
    width: 80vw;
    height: calc(80vh - 120px);
}

.fix-table-h .mud-table-container {
    height: calc(80vh - 330px);
}

.fix-table-h-cart .mud-table-container {
    height: calc(80vh - 220px);
}


tr.mud-table-row.selected {
    background: var(--mud-palette-drawer-background);
    color: white !important;
}

    tr.mud-table-row.selected td {
        color: white !important;
        background: var(--mud-palette-drawer-background) !important;
    }

button.mud-button-root.mud-button.mud-button-text.mud-button-text-default.mud-button-text-size-medium.mud-width-full.mud-ripple.customer-selection.bl-btn-primary.flex-grow-1 {
    color: var(--mud-palette-drawer-text);
    background: var(--mud-palette-drawer-background);
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    min-height: 50px;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}


.right {
    text-align: right !important;
}

.bottom-bar {
    background: var(--mud-palette-drawer-background);
    color: #FFF;
    padding: 8px;
}


.fix-p {
    padding: 0px;
    margin: 0px;
}

.min-h-160 {
    min-height: 160px;
}

.min-h-200 {
    min-height: 200px;
}

.sm-t-b-1 {
    border: 3px solid #e9e9e9;
    width: 100%;
}

.text-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.max-h-50 {
    max-height: 50px;
}

.max-h-25 {
    max-height: 25px;
}

.fix-f {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: -12px !important;
    font-size: 16px;
}

.f-w {
    width: 100%;
}

.f-h {
    height: 100%;
}


@media (min-width: 20px) {
    .mud-appbar .mud-toolbar-appbar {
        height: var(--mud-appbar-height) !important;
    }
}


@font-face {
    font-family: Garaj;
    src: url('../fonts/garaj.ttf');
}

.f-font h4 {
    font-family: Garaj;
}

