@page "/report/report_designer"
@*@using Telerik.WebReportDesigner.Blazor
*@

<h1>Testing Web Designer</h1>

@*<WebReportDesigner DesignerId="wrd1"
                   ServiceUrl="@ReportDesignerSetting.ReportRestServicePath"
                   Report="SampleReport.trdp"
                   ToolboxArea="new ToolboxAreaOptions(){ Layout = ToolboxAreaLayout.List}"
                   PropertiesArea="new PropertiesAreaOptions(){Layout = PropertiesAreaLayout.Categorized}" />*@